
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
background: url('../images/back.jpg');
}


#container {
    height: 100vh;
    margin-top: 30px;
    display: grid;
    place-items: center;
    width: 50%;
    height: 30%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.heading {
    text-align: center;
    margin-top: 90px;
    font-weight: bold;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 3rem;    
    -webkit-background-clip: text;
    width: 100%;
    -webkit-text-fill-color: transparent;
}


h3 {
    text-align: center;
    margin: 40px auto;
    font-size:2.3rem;
}


#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;  
    grid-auto-rows: minmax(100px, auto); 
    /* grid-auto-columns: minmax(200px, auto); */
    /* grid-auto-rows: 100px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* width: 500px;
    height: 400px;
    display: flex;
    flex-wrap: wrap; */
    cursor: pointer;
    transition: 0.3 all ease;

}

img {
    width: 150px;
    height: 100%;
    border-radius: 8px;
} 

img:hover {
    transform: scale(1.04);
    transition: 0.3 all ease;
    border: 2px solid rgb(223, 139, 30);
}


/* responsive design */

/* Media Query for Laptops and Desktops */
/* @media (min-width: 1025px) and (max-width: 1280px){
	.heading {
        margin-top: 10px;
        font-size: 3rem;
    }	
    h3 {
        font-size: 2rem;
        margin: 15px auto;
    }	
} */

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
	img {
        width: 100px;
        height: 100%;
        border-radius: 8px;
    } 
  	
}


/* Media Query for low resolution Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
	img {
        width: 100px;
        height: 100%;
        border-radius: 8px;
    } 

    .heading {
        margin-top: 10px;
        font-size: 2.5rem;
    }	
    h3 {
        font-size: 2rem;
        margin: 10px auto;
    }	
}

 /* Media Query for Mobile Devices */
@media (max-width: 480px) {
    #container {
        display: grid;
        width: 90%;
    }
    .heading {
        margin-top: 8px;
        font-size: 1.5rem;
    }	
    h3 {
        font-size: 1rem;
        margin: 5px auto;
    }	
    #grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1px;  
       
        cursor: pointer;
        transition: 0.3 all ease;
    
    }
    img {
        width: 90px;
        border-radius: 8px;
    } 
}











/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background: url('../images/back.jpg');
}

#container {
    margin-top: 30px;
    display: grid;
    place-items: center;
}

.heading {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    text-align: center;
    margin-top: 20px;
    font-size:1.5rem;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;  
    grid-auto-rows: minmax(100px, auto);  */
    /* grid-auto-columns: minmax(200px, auto); */
    /* grid-auto-rows: 100px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* width: 500px;
    height: 400px;
    display: flex;
    flex-wrap: wrap; */
    /* cursor: pointer;
    transition: 0.3 all ease;

}

img {
    width: 100px;
    height: 100%;
    border-radius: 8px; 
} 

img:hover {
    transform: scale(1.03);
    transition: 0.3 all ease;
} */